/* Base */
* { 
	font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
}

h1 { 
	background-color: #427b58;
	padding: 0.3em;
	font: 2em;
	text-decoration: underline;
}

h2 { font: 1.75em; }
h3 { font: 1.5em; }
h4 { font: 1.25em; }
h5 { font: 1em; }

*:not(a),body,td,tr,p { color: #24292e; }

body {
	margin: 8px;
}

img {
	max-width: 99%;
	max-height: 99%;
}

h1,h2,h3,h4,h5 { color: #24292e; }


button {
    background-size: auto;
    color: #b16286;
}

a { color: #0366d6; }
a:hover,a:focus,a:visited { color: #0366d6; }
a:hover { text-decoration: underline; }

b   { font: bold; }
em  { font: bold; }

blockquote {
	padding: 0 1em;
	border-left: 0.25em solid #dfe2e5;
	margin: auto;
	color: #6a737d;
}

pre { 
	font-family: "Source Code Pro", monospace;
	background-color: #eff0f1;
}
